openapi: 3.2.0
info:
  title: Telr Payment Gateway Agreements API
  description: Telr is a UAE-headquartered (Dubai) online payment gateway operating across the MENA region (UAE, Saudi Arabia, Bahrain, Jordan), supporting 120+ currencies and 30 languages.
  termsOfService: https://telr.com/terms-conditions/
  contact:
    name: Telr Support
    url: https://docs.telr.com/
    email: support@telr.com
  version: '1.0'
servers:
- url: https://secure.telr.com
  description: Telr production gateway (MENA)
security:
- basicAuth: []
tags:
- name: Agreements
  description: Repeat billing / recurring agreement management.
paths:
  /gateway/manageagreement.json:
    post:
      operationId: manageAgreement
      tags:
      - Agreements
      summary: Manage a repeat-billing agreement
      description: Create, amend, or charge a recurring repeat-billing agreement against a stored card. Authenticates with store + authkey in the request body.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementRequest'
      responses:
        '200':
          description: Agreement action processed.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    AgreementRequest:
      type: object
      required:
      - store
      - authkey
      - method
      properties:
        store:
          type: integer
        authkey:
          type: string
        method:
          type: string
          enum:
          - manage
          - cancel
          - forecast
        agreement:
          type: object
          properties:
            ref:
              type: string
            type:
              type: string
              enum:
              - recurring
              - instalment
              - unscheduled
            amount:
              type: string
            currency:
              type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth for the REST Service / Payments API: username = store id, password = API key (generated in Merchant Administration under Integrations > Service API). Base64 of "storeid:apikey".'
