# Provenance: modeled-from-docs (grounded=modeled-from-docs)
# Source: https://docs.telr.com/reference/introduction and the docs.telr.com/llms.txt
# reference index (createorder, check-status-1, post_gateway-remote-json,
# post_remote_applepay, manageagreement, authentication). No first-party
# downloadable OpenAPI file was published by Telr as of 2026-07-17; endpoints,
# hosts, fields and auth were transcribed from the live developer docs and
# verified against a live probe of https://secure.telr.com (405 on /, 200 on
# /gateway/order.json). Amounts are in major currency units (e.g. AED "9.50").
openapi: 3.0.3
info:
  title: Telr Payment Gateway API
  description: >-
    Telr is a UAE-headquartered (Dubai) online payment gateway operating across
    the MENA region (UAE, Saudi Arabia, Bahrain, Jordan), supporting 120+
    currencies and 30 languages. This specification models Telr's documented
    HTTPS/JSON gateway surfaces: the Hosted Payment Page (order.json), the
    Remote / Direct API (remote.json, including Apple Pay / Google Pay / Samsung
    Pay wallet tokens), repeat-billing agreements (manageagreement.json), and
    the newer REST Payments API (/api/v1/orders). Legacy gateway endpoints
    authenticate with a numeric store id + authentication key passed in the JSON
    body; the REST Service/Payments API uses HTTP Basic auth (store id : API
    key). All transactions are PCI DSS v4.0 Level 1 and NESA certified.
  termsOfService: https://telr.com/terms-conditions/
  contact:
    name: Telr Support
    url: https://docs.telr.com/
    email: support@telr.com
  version: '1.0'
servers:
  - url: https://secure.telr.com
    description: Telr production gateway (MENA)
security:
  - basicAuth: []
tags:
  - name: Hosted Payment Page
    description: Redirect-based hosted checkout (order.json).
  - name: Remote
    description: Direct server-to-server card and wallet transactions (remote.json).
  - name: Agreements
    description: Repeat billing / recurring agreement management.
  - name: Payments API
    description: Newer REST order API with HTTP Basic auth.
paths:
  /gateway/order.json:
    post:
      operationId: createHostedOrder
      tags:
        - Hosted Payment Page
      summary: Create or check a hosted payment page order
      description: >-
        Create a hosted payment page order (method=create) and receive a
        process.html redirect URL, or check the status of an existing order
        (method=check) by its order ref. Authenticates with store + authkey in
        the request body (no HTTP auth header).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostedOrderRequest'
      responses:
        '200':
          description: Order created or status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedOrderResponse'
  /gateway/remote.json:
    post:
      operationId: createRemoteTransaction
      tags:
        - Remote
      summary: Process a direct (remote) card or wallet transaction
      description: >-
        Server-to-server sale/auth transaction. Card details, or an Apple Pay /
        Google Pay / Samsung Pay wallet token, are submitted directly. Requires
        appropriate PCI scope for raw card data. Authenticates with store +
        authkey in the request body.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteRequest'
      responses:
        '200':
          description: Transaction processed (see transaction.status).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
  /gateway/manageagreement.json:
    post:
      operationId: manageAgreement
      tags:
        - Agreements
      summary: Manage a repeat-billing agreement
      description: >-
        Create, amend, or charge a recurring repeat-billing agreement against a
        stored card. Authenticates with store + authkey in the request body.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementRequest'
      responses:
        '200':
          description: Agreement action processed.
          content:
            application/json:
              schema:
                type: object
  /api/v1/orders:
    post:
      operationId: createOrder
      tags:
        - Payments API
      summary: Create an order (REST Payments API)
      description: >-
        Newer REST order-creation endpoint. Authenticates with HTTP Basic auth
        (store id as username, API key as password). Returns the order with
        hypermedia _links and up to two webhooks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/orders/{ref}:
    get:
      operationId: getOrder
      tags:
        - Payments API
      summary: Retrieve an order (REST Payments API)
      description: >-
        Retrieve an order and its current status by order ref. Authenticates
        with HTTP Basic auth (store id : API key).
      parameters:
        - name: ref
          in: path
          required: true
          description: Order reference.
          schema:
            type: string
      responses:
        '200':
          description: Order returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Order not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic auth for the REST Service / Payments API: username = store
        id, password = API key (generated in Merchant Administration under
        Integrations > Service API). Base64 of "storeid:apikey".
  schemas:
    HostedOrderRequest:
      type: object
      required:
        - method
        - store
        - authkey
        - order
        - return
      properties:
        method:
          type: string
          enum: [create, check]
          description: "create = new hosted order; check = query order status."
        store:
          type: integer
          description: Numeric store id (no text).
        authkey:
          type: string
          description: Authentication key for the store.
        framed:
          type: integer
          enum: [0, 1, 2]
          description: Whether the payment page renders inside an iframe.
        order:
          $ref: '#/components/schemas/HostedOrder'
        return:
          type: object
          properties:
            authorised:
              type: string
              format: uri
            declined:
              type: string
              format: uri
            cancelled:
              type: string
              format: uri
        customer:
          $ref: '#/components/schemas/Customer'
    HostedOrder:
      type: object
      properties:
        ref:
          type: string
          description: Existing order ref (used with method=check).
        cartid:
          type: string
          maxLength: 63
          description: Unique cart / order id.
        test:
          type: integer
          enum: [0, 1]
          description: 0 = live, 1 = test.
        amount:
          type: string
          example: '9.50'
          description: Amount in major currency units.
        currency:
          type: string
          example: AED
          description: 3-letter ISO 4217 currency code.
        description:
          type: string
          maxLength: 63
        trantype:
          type: string
          enum: [sale, auth]
    HostedOrderResponse:
      type: object
      properties:
        method:
          type: string
        trace:
          type: string
        order:
          type: object
          properties:
            ref:
              type: string
            url:
              type: string
              format: uri
              example: https://secure.telr.com/gateway/process.html?o=OrderRef
            cartid:
              type: string
            amount:
              type: string
            currency:
              type: string
            status:
              type: object
              properties:
                code:
                  type: integer
                text:
                  type: string
                  example: Pending
        error:
          type: object
          properties:
            message:
              type: string
            note:
              type: string
    RemoteRequest:
      type: object
      required:
        - store
        - authkey
        - method
        - tran
      properties:
        store:
          type: integer
        authkey:
          type: string
        method:
          type: string
          enum: [transaction, card, wallet]
        tran:
          type: object
          required:
            - type
            - class
            - amount
            - currency
          properties:
            id:
              type: string
              description: Cart / order id.
            type:
              type: string
              enum: [sale, auth, capture, refund, void]
            class:
              type: string
              enum: [ecom, moto, cont]
              description: ecom = e-commerce, moto = mail/phone order, cont = continuous.
            description:
              type: string
              maxLength: 63
            amount:
              type: string
            currency:
              type: string
              example: AED
            test:
              type: integer
              enum: [0, 1]
            ref:
              type: string
              description: Original transaction ref for capture/refund/void.
        card:
          type: object
          properties:
            number:
              type: string
            expiry:
              type: object
              properties:
                month:
                  type: integer
                year:
                  type: integer
            cvv:
              type: string
        applepay:
          type: object
          description: Apple Pay token (encrypted payload or decrypted network token).
        googlepay:
          type: object
          description: Google Pay token.
        samsungpay:
          type: object
          description: Samsung Pay token.
        customer:
          $ref: '#/components/schemas/Customer'
    RemoteResponse:
      type: object
      properties:
        trace:
          type: string
        transaction:
          type: object
          properties:
            ref:
              type: string
            type:
              type: string
            class:
              type: string
            status:
              type: string
            code:
              type: string
            message:
              type: string
        error:
          type: object
          properties:
            message:
              type: string
            note:
              type: string
            details:
              type: object
    AgreementRequest:
      type: object
      required:
        - store
        - authkey
        - method
      properties:
        store:
          type: integer
        authkey:
          type: string
        method:
          type: string
          enum: [manage, cancel, forecast]
        agreement:
          type: object
          properties:
            ref:
              type: string
            type:
              type: string
              enum: [recurring, instalment, unscheduled]
            amount:
              type: string
            currency:
              type: string
    OrderRequest:
      type: object
      required:
        - cartId
        - amount
        - currency
        - customer
      properties:
        cartId:
          type: string
          minLength: 1
          maxLength: 63
        transactionType:
          type: string
          enum: [SALE, AUTH, VERIFY]
        amount:
          type: object
          properties:
            value:
              type: string
            currency:
              type: string
        currency:
          type: string
          example: AED
        description:
          type: string
          maxLength: 63
        test:
          type: boolean
        customer:
          $ref: '#/components/schemas/Customer'
        webhooks:
          type: array
          maxItems: 2
          items:
            type: string
            format: uri
    Order:
      type: object
      properties:
        ref:
          type: string
        status:
          type: string
          enum: [PENDING, AUTHORISED, PAID, CANCELLED, DECLINED]
        cartId:
          type: string
        amount:
          type: object
          properties:
            value:
              type: string
            currency:
              type: string
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
            auth:
              type: object
              properties:
                href:
                  type: string
    Customer:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: object
          properties:
            title:
              type: string
            firstName:
              type: string
            lastName:
              type: string
        address:
          type: object
          properties:
            line1:
              type: string
            line2:
              type: string
            line3:
              type: string
            city:
              type: string
            country:
              type: string
              description: ISO 3166-1 alpha-2 country code.
        phone:
          type: string
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        status:
          type: string
        reason:
          type: string
        errors:
          type: array
          items:
            type: object
